*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --color-white: #fff;
    --color-fade-white: #E6E6E6;
    --color-black: #101010;
    --color-fade-black: #444444;
    --color-gray: #cacaca;
    --color-pink: #ff00aa;
    --color-blue: #0019d7;
    --color-overlay: #001233c9;
    --color-footer: #16222A;
    --color-footer-letter: #78787f;
    --color-footer-hover: #4176FB;
    --color-input: #565555;
    --color-twitter: #1da1f2;
    --color-youtube: #e02a20;
    --color-vi: #51b5e7;
    --color-instagram: #e4405f;
    --color-pinterest: #c92619;
}
body{
    width: 100%;
    position: relative;
    transition:all 0.5s;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    transition: 0.5s;
    color: var(--color-white);
    z-index: 9;
}
header.sticky{
    height: 4.25rem;
    background-color: var(--color-black);
}
.logo a{
    text-decoration: none;
    color: var(--color-white);
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.625em;
    cursor: pointer;
}
.tgd{
    display: flex;
}
.navbar ul{
    list-style: none;
    display: flex;
    margin-right: 0.5rem;
}
.navbar ul li{
    margin: 0 0.7rem;
}
.navbar-link{
    text-decoration: none;
    padding: 0.5rem 0;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.1em;
    transition: 0.3s;
}
.navbar-link:hover{
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-gray);
}
.navbar-link.alt{
    background-color: var(--color-footer-hover);
    border-radius: 4px;
    padding: 0.5rem 1.2rem;
}
.navbar-link.alt:hover{
    border-bottom: none;
    color: var(--color-gray);
}  
#home{
    border-bottom: 1px solid var(--color-gray);
} 
.wrap{
    display: flex;
    align-items: center;
}
.social{
    font-size: 1.3em;
}
.social.alt{
    display: none;
}
.social a{
    color: var(--color-white);
    margin: 0 0.5rem;
}
.hamburger{
    position: relative;
    display: flex;
    width: 1.6rem;
    height: 1.1rem;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.line1, .line2, .line3{
    transition: 0.3s;
}
.line1, .line3{
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
}
.line2{
    width: 75%;
    height: 2px;
    background-color: var(--color-white);
}
.hamburger.active:hover .line1,.hamburger.active:hover .line3{
    width: 100%;
}
.hamburger:hover .line1,.hamburger:hover .line3{
    width: 75%;
}
.hamburger:hover .line2{
    width: 100%;
}
.line1.active,.line3.active{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.line1.active{
    transform: rotate(45deg);
}
.line3.active{
    transform: rotate(-45deg);
}

.line2.active{
    opacity: 0;
}
/* SIDE */
.side{
    position: absolute;
    width: 23.75rem;
    right: -23.75rem;
    height: 100vh;
    overflow-y: auto;
    background-color: #101010;
    top: 0;
    transition: 0.5s;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75rem 1.9rem;

}
.side-nav{
    display: none;
}
body.active{
    position: absolute;
    margin-left: -23.75rem;
    transition: 0.5s;
}
.about-wrapper{
    width: 100%;
    height: 100%;
}
.about-title{
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.25em;
}
.about-p{
    color: var(--color-footer-letter);
    line-height: 1.75em;
    margin-top: 2rem;
}
.about-input-wrap{
    width: 100%;
    display: flex;
    margin: 3rem 0;
}
.about-input{
    flex: 1;
    border: 2px solid var(--color-input);
    border-right: none;
    background-color: transparent;
    padding: 0.3rem 0.7rem;
    font-size: 1.1em;
    outline: none;
    color: var(--color-white);
    text-transform: capitalize;
}
.about-input:focus{
    border: 2px solid var(--color-footer-hover);
    border-right: none;
}
.about-button{
    text-transform: uppercase;
    color: var(--color-footer-hover);
    letter-spacing: 1px;
    font-size: 0.85em;
    border: 2px solid var(--color-footer-hover);
    background-color: transparent;
    padding: 0.3rem 1rem;
    font-weight: 700;
    cursor: pointer;
}
.about-social{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-social span{
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
}
.about-social-wrap{
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
.about-social-wrap a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color-white);
    width: 2.1rem;
    height: 2.1rem;
    display: grid;
    place-items: center;
    border-radius: 2px;
    margin-right: 0.7rem;
}
.about-social-wrap a:nth-child(1){
    background-color: var(--color-footer-hover);
}
.about-social-wrap a:nth-child(2){
    background-color: var(--color-twitter);
}
.about-social-wrap a:nth-child(3){
    background-color: var(--color-youtube);
}
.about-social-wrap a:nth-child(4){
    background-color: var(--color-vi);
}
.about-social-wrap a:nth-child(5){
    background-color: var(--color-instagram);
}
.about-social-wrap a:nth-child(6){
    background-color: var(--color-pinterest);
}



/* HERO */
.hero{
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #c42caf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #c42caf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.title h1{
    color: var(--color-white);
    font-size: 4.5em;
    letter-spacing: -1px;
}
.traco{
    width: 26vw;
    height: 2px;
    background-color: var(--color-gray);
    margin: 3rem 0;
}
.hero p{
    color: var(--color-fade-white);
    font-size: 1.3em;
    line-height: 1.8em;
    text-align: center;
    padding: 0 6rem;
}
.hero span{
    font-weight: 700;
}
.button-wrap{
    display: flex;
    color: var(--color-white);
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.button{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 0.8rem 2rem;
    margin: 0 1.2rem;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-white);
}
.button.pink{
    background-color: var(--color-pink);
    border: 2px solid var(--color-pink);
}
.button.pink:hover{
    background-color: transparent;
    border: 2px solid var(--color-white);
}
.button.transparent{
    border: 2px solid var(--color-white);
}
.button.transparent:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}


/* EVENT */
.event{
    width: 100%;
    height: auto;
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event p{
    font-size: 1.2em;
    margin-top: 3rem;
}
.event-cards-wrapper{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 1rem;
}
.event-card{
    width: auto;
    height: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 33.3%;
}
.event-card i{
    color: var(--color-pink);
    font-size: 3.75em;
}
.event-card h1{
    text-transform: uppercase;
    margin-top: 1rem;
}
.event-card h1,.event-card p{
    font-size: 1em;
}
.event-card p{
    margin-top: 1rem;
}
.event-card span{
    font-weight: 700;
}
.event-button{
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    background-color: var(--color-blue);
    font-weight: 600;
    color: var(--color-white);
    margin-top: 3rem;
    width: fit-content;
    transition: 0.5s;
    border-radius: 5px;
}
.event-button:hover{
    background-color: var(--color-pink);
}


/* SPEAKERS */
.speakers{
    width: 100%;
    background-color: var(--color-blue);
    padding: 5rem 8rem;
    color: var(--color-white);
}
.speakers-title{
    font-size: 4.125em;
    width: fit-content;
}
.speakers-card{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.speakers-card img{
    align-self: center;
}
.card-name{
    font-size: 1.625em;
}
.card-job{
    font-size: 1em;
    margin: 1rem 0;
}
.card-job i{
    font-weight: 400;
}
.card-paragraph{
    line-height: 1.5em;
    margin-bottom: 1.5rem;
}
.speakers-social a{
    font-size: 1.3em;
    text-decoration: none;
    color: var(--color-white);
}
.speakers-social a:nth-child(2),.speakers-social a:nth-child(3){
    margin: 0.5rem;
}
.mega-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.speakers-card:nth-child(2){
    margin-top: -7rem;
    height: fit-content;
}
.speakers-card:nth-child(4){
    margin-top: -7rem;
    height: fit-content;
}


/* FUTURE */
.future{
    width: 100%;
    padding: 4rem 5rem;
    display: flex;
    align-items: center;
}
.future-text{
    padding-right: 2rem;
}
.future-text h1{
    font-size: 3.4em;
}
.future-text p{
    color: var(--color-fade-black);
    line-height: 1.8em;
    margin: 2rem 0 4rem 0;
}
.future-img{
    width: auto;
}
.future-img img{
    width: 100%;
    object-fit: cover;
}


/* MAP */
.map{
    width: 100%;
    height: auto;
    background-image: url('https://demo.wpzoom.com/inspiro-event/files/2019/05/chuttersnap-458798-unsplash-1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 3rem 6rem;
    
}
.overlay{
    position: absolute;
    background-color: var(--color-overlay);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
}
.top{
    position: relative;
    z-index: 1;
    color: var(--color-white);
    text-align: center;
}
.top h1{
    font-size: 3.125em;
}
.top p{
    font-size: 1.2em;
    margin-top: 2rem;
}
.map-wraper{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    margin-top: 3rem;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;

}
.map-text{
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0 3rem 0 5rem;

}
.map-text span{
    font-size: 1.625em;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-footer);
}
.map-text p, .map-text p > span{
    font-size: 1em;
    margin-bottom: 2rem;
    color: var(--color-fade-black);
}
.map-text p{
    line-height: 1.6em;
}
.map-text a{
    text-decoration: none;
    font-weight: 700;
    color: var(--color-footer-hover);
    font-size: 1.05em;
    width: fit-content;
}
.map-map{
    width: 55%;
    height: 100%;
    padding: 1rem;
}
.map-map iframe{
    width: 100%;
    max-height: 25.5rem;
}


/* FOOTER */
footer{
    width: 100%;
    background-color: var(--color-footer);
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
}
footer span{
    color: var(--color-footer-letter);
}
footer a{
    text-decoration: none;
    font-weight: 700;
    color: var(--color-white);
    transition: 0.5s;
}
.design a{
    text-transform: uppercase;
}
footer a:hover{
    color: var(--color-footer-hover);
}


/* EVENT */
.event{
    width: 100%;
    height: auto;
    padding: 4rem 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.event-title{
    font-size: 2.5em;
}
.fp{
    font-size: 1.2em;
    margin-top: 3rem;
}
.traco{
    width: 26vw;
    height: 2px;
    background-color: var(--color-gray);
    margin: 3rem 0;
}


/* AGENDA */
.agenda-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left,.right{
    width: 47%;
    height: 100%;
    text-align: start;
}
.agenda-title {
    font-size: 4.5em;
    color: var(--color-pink);
    margin-bottom: 3rem;
}
.agenda-card{
    margin-top: 2rem;
}
.hour{
    font-size: 2.2em;
    color: var(--color-blue);
    font-weight: 700;
}
.text{
    font-size: 1.25em;
    color: var(--color-fade-black);
    font-weight: 400;
    margin: 3rem 0 2rem 0;
}
.linha{
    width: 30%;
    height: 1px;
    background-color: var(--color-pink);
}


/* TICKETS */
.tickets{
    width: 100%;
    padding: 3rem;
    background-color: var(--color-tickets);
}
.tickets-title{
    font-size: 4.375em;
    color: var(--color-pink);
    text-align: center;
}
.tickets-card-wrapper{
    max-width: 69rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tickets-card-wrap{
    position: relative;
    width: 32%;
    padding: 0.2rem;
    border: 1px solid var(--color-gray);
    border-radius: 7px;
    background-color: var(--color-white);
    margin-top: 4rem;
}
.tickets-card{
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    background-color: var(--color-white);
}
.tickets-card h1{
    font-size: 1.7em;
    color: var(--color-faded-black);
    font-weight: 600;
}
.dash{
    width: 95%;
    height: 1px;
    background-color: var(--color-gray);
    margin: 1.5rem 0;
}
.price{
    font-size: 1.6em;
    color: var(--color-pink);
}
.tickets-card p{
    color: var(--color-fade-black);
}
.bold{
    font-weight: 700;
    color: var(--color-fade-black);
}
.scd{
    margin: 1.5rem 0;
}
.button-tickets{
    margin-top: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-weight: 700;
    padding: 0.8rem;
    width: 90%;
    border-radius: 5px;
    text-align: center;
}

















@media(max-width: 1300px){
    /* SPEAKERS */
    .speakers{
        padding: 5rem 4rem 0 4rem;
    }
    .speakers-card{
        width: 46%;
        margin-bottom: 4rem;
    }
    .speakers-card img{
        width: 100%;
    }
}
@media(max-width: 1130px){
    /* AGENDA */
    .event{
        padding: 4rem 5rem;
    }
}
@media(max-width: 1275px){
    /* EVENT */
    .event-cards-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .event-card{
        width: 20rem;
    }
    .event-card.tres{
        margin-top: 3rem;
    }
}
@media(max-width: 1200px){
    /* HERO */
    .hero p{
        padding: 0;
    }
    /* MAP */
    .map-wraper{
        flex-direction: column;
        padding: 2rem;
    }
    .map-map{
        width: 100%;
        margin: auto;
        padding: 0;
        margin-top: 1rem;
    }
    .map-map iframe{
        max-height: 15rem;
    }
    .map-text{
        padding: 0;

    }
    .map-text span{
        margin-bottom: 1rem;
    }
    .map-text p, .map-text p > span{
        margin-bottom: 1rem;
    }
}
@media(max-width: 1150px){
    /* SIDE */
    .side-nav{
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
    }
    .navbar{
        display: none;
    }
    .side-nav ul{
        list-style: none;
        width: 100%;
    }
    #home{
        border-bottom: 1px solid #252525;
    }
    .side-link{
        text-decoration: none;
        line-height: 2em;
        display: flex;
        border-bottom: 1px solid #252525;
        text-transform: uppercase;
        color: var(--color-white);
        font-weight: 500;
        display: flex;
    }
}
@media(max-width: 1024px){
    /* TICKETS */
    .tickets-card-wrapper{
        flex-wrap: wrap;
    }
    .tickets-card-wrap{
        width: 47%;
    }
    .tickets-card-wrap:last-child{
        margin: 2.5rem auto 0 auto;
    }
}
@media(max-width: 970px){
    /* AGENDA */
    .hour{
        font-size: 1.8em;
    }
    .text{
        margin: 1.5rem 0;
    }
    .left{
        margin-right: 2rem;
    }
    .right{
        margin-left: 2rem;
    }
}
@media(max-width: 960px){
    /* EVENT */
    .event-card{
        margin: 1rem 0;
    }
    .event-cards-wrapper{
        margin: 0;
    }
}
@media(max-width: 950px){
    /* HEADER */
    
    .navbar{
        position: fixed;
        background-color: var(--color-black);
        top: 0;
        right: -55vw;
        width: 55vw;
        height: 100vh;
        padding: 2rem 2rem;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
    }
    .navbar-link{
        line-height: 2em;
        display: flex;
        border-bottom: 1px solid #3b3b3b;
        text-transform: uppercase;
    }
    .navbar-link:hover{
        border-bottom: 1px solid #3b3b3b;
    } 
    .navbar.active{
        right: 0;
    }
    .navbar ul{
        flex-direction: column;
    }
    .hamburger{
        display: flex;
        width: 1.8rem;
        height: 1.3rem;
        margin-left: 1rem;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .line1, .line3{
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
    }
    .line2{
        width: 70%;
        height: 2px;
        background-color: var(--color-white);
    }
    /* HERO */
    .title h1{
        font-size: 2.4em;
    }
    .hero p{
        font-size: 1.1em;
    }
    /* FUTURE */
    .future{
        display: grid;
    }
    .future-text h1{
        font-size: 2.5em;
    }
    .future-text p{
        margin: 2rem 0;
    }
    .future-img{
        margin-top: 3rem;
    }
    /* MAP */
    .top h1 {
        font-size: 2.3em;
    }
    .top p {
        font-size: 1em;
    }
}

@media(max-width: 770px){
    /* EVENT */
    .event{
        padding: 4rem;
    }
    .event h1{
        font-size: 2em;
    }
    .event p{
        font-size: 1em;
    }
    .event-card h1{
        font-size: 1.5em;
    }
    /* SPEAKERS */
    .speakers{
        padding: 5rem 6rem 0 6rem;
    }
    .speakers-card{
        width: 75%;
    }
    .mega-wrap{
        justify-content: center;
    }
    .speakers-title{
        font-size: 3em;
    }
    .speakers-card:nth-child(1),.speakers-card:nth-child(2),
    .speakers-card:nth-child(3),.speakers-card:nth-child(4){
        margin-top: 0;
    }
}
@media(max-width: 720px){
    /* AGENDA */
    .agenda-wrap{
        flex-wrap: wrap;
    }
    .right,.left{
        margin: 0;
        width: 100%;
    }
}
@media(max-width: 660px){
    /* HERO */
    .hero p{
        line-height: 1.5em;
        font-size: 1em;
    }
    .traco{
        margin: 2rem 0;
    }
    .title h1{
        font-size: 2em;
    }
    .hero{
        padding: 0 1.5rem;
    }
    .button{
        padding: 0.5rem 0.5rem;
        font-size: 1em;
    }
    .button-wrap{
        width: 100%;
        justify-content: center;
    }
    /* MAP */
    .map{
        padding: 3rem 2rem;
    }
    /* TICKETS */
    .tickets-card-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tickets-card-wrap{
        width: 100%;
    }
    .tickets-card-wrap:last-child{
        margin: 4rem 0 0 0;
    }
    .tickets-title {
        font-size: 2.5em;
    }
    /* FOOTER */
    footer{
        padding: 2rem;
    }
}
@media(max-width: 640px){
    /* HEADER */
    .side{
        padding: 5rem 1.9rem;
    }
    .close{
        position: absolute;
        display: flex;
        width: 1.8rem;
        height: 1.3rem;
        align-self: self-end;
        flex-direction: column;
        top: 1.9rem;
        right: 2rem;
        cursor: pointer;
        margin-bottom: 2rem;
    }
    .cline1,.cline2{
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
    }
    .cline1{
        transform: rotate(45deg);
    }
    .cline2{
        transform: rotate(-45deg);
    }
}
@media(max-width: 600px){
    /* FUTURE */
    .future-text h1{
        font-size: 1.8em;
    }
    .future-text p{
        line-height: 1.5em;
    }
    /* AGENDA */
    .agenda-title{
        font-size: 3em;
    }
}
@media(max-width: 540px){
    /* SPEAKERS */
    .speakers{
        padding: 5rem 3rem 0 3rem;
    }
    .card-name{
        margin-top: 1rem;
    }
}
@media(max-width: 500px){
    /* HEADER */
    .social{
        display: none;
    }
    .social.alt{
        display: flex;
        align-self: center;
        position: absolute;
        bottom: 2rem;
    }
    .logo h1{
        font-size: 1.3em;
    }
    .hamburger,.close{
        width: 1.5rem;
        height: 1rem;
    }
    /* EVENT */
    .fp{
        text-align: start;
    }
    /* TICKETS */
    .tickets-card-wrap:last-child {
        margin: 2rem 0 0 0;
    }
}
@media(max-width: 425px){
    /* HEADER */
    body.active{
        margin-left: -20rem;
    }
    .side{
        right: -20rem;
        width: 20rem;
    }
    header{
        padding: 0 2rem 0 1.5rem;
    }
    .side {
        padding: 3rem 1.9rem;
    }
    .about-input{
        width: 70%;
    }
    .about-button{
        width: 30%;
        padding: 0;
    }
    /* SPEAKERS */
    .speakers{
        padding: 5rem 1.5rem 0 1.5rem;
    }
    .speakers-title{
        font-size: 2.5em;
        margin-left: 2rem;
    }
    /* FUTURE */
    .future{
        padding: 3rem 2rem;
    }
    /* MAP */
    .top h1{
        font-size: 1.8em;
    }    
    /* FOOTER */
    footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .code{
        margin-top: 1rem;
    }
}
@media(max-width: 370px){
    /* EVENT */
    .event{
        padding: 4rem 1.3rem;
    }
    .fp{
        padding: 0 2rem;
    }
    /* TICKETS */
    .tickets{
        padding: 2rem 1rem;
    }
}
@media(max-width: 350px){
    /* HERO */
    .button{
        font-size: 0.8em;
    }
}
